---
pageable: true
---
<h1>
  <% case page_type
     when 'day' %>
    日別アーカイブ： <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    月別アーカイブ： <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    年別アーカイブ： <%= year %>
  <% end %>
</h1>

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
